.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background: linear-gradient(-45deg, #000000, #0c1821, #1b2a41,#273A50, #596475);
	background-size: 500% 200%;
	animation: gradient 15s ease infinite;


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  color: white;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.App-text{
  margin-left: 150px;
  margin-right: 150px;
}

.App-link {
  color: #61dafb;
  font-weight: lighter;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
