.App {
  margin-top: 5rem;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  height: 1110vh;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 10px;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



 


.main {
  display: flex;
  justify-content: center;
  
}


.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  border-radius: 30px;
  height:600px;
  display:block;
  font-family: sans-serif;
  min-width: 400px;
  border-radius: 3rem;
  color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
  background-color: #099969;
  color: #ffffff;
  text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 10px;
}



.styled-table tbody tr:nth-of-type(even) {
  background-color: #282c34;
}

.styled-table tbody tr:nth-of-type(odd) {
  background-color: #1c1b22;
}


.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}


@media only screen and (max-width: 400px) {
  .App{
    margin-top: 3rem;
  }
  .styled-table{
    border-radius: 20px;
  }

  .styled-table th,
.styled-table td {
    padding: 16px 16px;
}

body{
  background: #141414;
}
}